@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply text-white font-lato;
  background: linear-gradient(to right, #0D1B2A, #1B263B);
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-inter;
}

label {
  @apply font-inter;
}

@keyframes gradient-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-gradient-rotate {
  animation: gradient-rotate 6s linear infinite;
}
